* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-text: rgb(44, 51, 69);
  --secondary-text: rgb(87, 100, 126);
  --dark-red: rgb(242, 58, 60);
  --light-red: rgb(255, 237, 237);
  --dark-blue: rgb(46, 105, 255);
  --light-blue: rgb(241, 245, 255);
  --table-color: rgb(195, 202, 216);
  --green-color: rgb(24, 189, 91);
  --base-grey: rgb(222, 223, 228);
  --exist: solid black 1px;
}

input,
select {
  padding: 0 0.35rem;
}

label {
  margin-left: 0.25rem;
}

html {
  background-color: rgba(236, 237, 243, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  overflow-x: hidden;
}

@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 420px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 48rem;
  width: 100%;
  color: var(--main-text);
}

@media all and (max-width: 768px) {
  body {
    max-width: unset;
    width: 100%;
  }
}

.base-section {
  margin: 0rem 2.5rem 0 2.5rem;
}

@media all and (max-width: 768px) {
  .base-section {
    margin: 0 0.75rem 0 0.75rem;
  }
}

input,
select,
textarea:focus {
  outline: none;
}

input,
select,
textarea {
  color: var(--secondary-text);
  font-size: 1rem;
}

.sect-header span {
  margin-left: 0.5rem;
}

/*--------------------- HEAD*/

.head {
  border-bottom: solid 2px rgba(236, 237, 243, 1);
  color: var(--main-text);
  font-size: clamp(0.5rem, 2vw + 0.5rem, 2rem);
  font-weight: 600;
  margin: 0 0;
  padding: clamp(0.5rem, 2vw + 0.5rem, 2rem) 3rem;
}

@media all and (max-width: 768px) {
  .head {
    margin: 0 0;
  }
}
/*--------------------- TEXT INPUT*/

.sect-header {
  display: flex;
  font-size: 1rem;
  height: auto;
  margin: 0 0 0.5rem 0;
  width: 100%;
  font-weight: 520;
  color: var(--main-text);
}

.sect-header span {
  color: var(--dark-red);
}

.txt-inp-item {
  margin-bottom: 1rem;
  width: 100%;
}

@media all and (max-width: 768px) {
  .txt-inp-item {
    margin-bottom: 0.7rem;
  }
}

.half-bar {
  width: 48%;
  margin-right: 0;
}

.txt-inp-item input,
select,
textarea {
  border: 1px solid var(--base-grey);
  border-radius: 4px;
  height: 2rem;
  margin: 0 0 0.25rem 0;
  width: 100%;
}

select {
  width: 101%;
}

@media all and (max-width: 768px) {
  select {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .txt-inp-item input,
  select {
    margin: 0 0 0.3rem 0;
  }
}

.txt-inp-item label {
  color: var(--secondary-text);
  font-size: 0.7rem;
}

.req {
  background-color: var(--light-red);
}

.error {
  align-items: center;
  background-color: var(--dark-red);
  border-radius: 0.2rem;
  color: white;
  display: flex;
  font-size: 0.7rem;
  margin: 0 0 0 0;
  padding: 0.1rem 0.3rem;
  width: fit-content;
}

.error span {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  color: var(--dark-red);
  display: flex;
  height: 0.7rem;
  justify-content: center;
  margin: 0 0.3rem 0 0;
  width: 0.7rem;
}

.txtinp {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.txt-cont {
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 1rem 0.75rem;
}

.contact {
  flex-direction: column;
  justify-content: start;
}

@media all and (max-width: 768px) {
  .half-bar {
    width: 100%;
    margin-right: 0;
  }
}

/* -----------------------------QA----------------- */

.QAinp-head {
  padding-top: 3.5rem;
  border-top: solid 3px var(--base-grey);
}

.QAinp {
  padding-top: 3.25rem;
}

.qa-cont {
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  padding: 1rem 0.75rem;
}

.qa-item select {
  margin-bottom: 0.25rem;
  background-color: white;
  color: var(--secondary-text);
}

@media all and (max-width: 768px) {
  .qa-item {
    margin-bottom: 0.2rem;
  }
}

.qa-text-area {
  padding: 0 0.75rem;
}

.qa-text-area textarea {
  width: 100%;
  min-height: 10rem;
  max-height: 14rem;
  padding: 0.5rem 0.5rem;
  margin: 0;
  resize: vertical;
}

/* -----------------------------CHECK-BOX------- */

.check-box {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0.75rem 0;
}

.check-box input {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.qa-check-box {
  padding: 0 0.75rem;
}

/* -------------------------------TABLE--------- */

.table {
  padding: 0 0.75rem;
  margin-bottom: 2rem;
}

.row-index,
.table th {
  font-size: 0.75rem;
  font-weight: 550;
  color: var(--secondary-text);
}

.base-cell:not(.hidden-cell) {
  height: 2.75rem;
  border: 1px solid var(--table-color);
}

.row-index {
  width: 5.5rem;
  padding-left: 1rem;
}

@media all and (max-width: 768px) {
  .row-index {
    width: clamp(3rem, 1rem + 7vw, 5.5rem);
  }
}

.table-input {
  width: 95%;
  height: 2.75rem;
  border: 0;
  padding: 0;
  font-size: 0.75rem;
  color: var(--main-text);
  margin: 0 2.5% 0 2.5%;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

tr {
  height: 1.5rem;
}

.row-index,
.table th:not(.hidden-cell) {
  background-color: var(--light-blue);
}

.c-left-up {
  border-radius: 0.3rem 0 0 0;
}
.c-right-up {
  border-radius: 0 0.3rem 0 0;
}
.c-left-bottom {
  border-bottom-left-radius: 0.3rem;
}
.c-right-bottom {
  border-bottom-right-radius: 0.3rem;
}

/* -------------------------- SUBMIT ----- */
.submit-container {
  display: flex;
  align-items: center;
  height: 7rem;
  border-top: solid 2px rgba(236, 237, 243, 1);
}

.button {
  align-items: center;
  background-color: var(--green-color);
  border: unset;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  display: flex;
  height: 2.7rem;
  justify-content: center;
  width: 9rem;
  margin-left: 3.25rem;
}

.button:active {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.sct-head-marign {
  margin-bottom: 1rem;
}
