@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-text: rgb(44, 51, 69);
  --secondary-text: rgb(87, 100, 126);
  --dark-red: rgb(242, 58, 60);
  --light-red: rgb(255, 237, 237);
  --dark-blue: rgb(46, 105, 255);
  --light-blue: rgb(241, 245, 255);
  --table-color: rgb(195, 202, 216);
  --green-color: rgb(24, 189, 91);
  --base-grey: rgb(222, 223, 228);
  --exist: solid black 1px;
}

* {
  margin: 0 0;
  padding: 0 0;
}

input {
  padding-left: 0.5rem;
}

input:required {
  border: 1px solid red;
}

html {
  background-color: rgba(236, 237, 243, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  overflow-x: hidden;
}

@media all and (max-width: 540px) {
  html {
    font-size: 16px;
  }
}

@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 420px) {
  html {
    font-size: 12px;
  }
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
}
@media all and (max-width: 768px) {
  body {
    max-width: unset;
    width: 100%;
  }
}

.base-section {
  margin: 0 clamp(0.5rem, 0.5rem + 2.7vw, 3rem);
}

input:focus {
  outline: none;
}
/* input::placeholder {
  font-size: 5px;
} */
input {
  font-size: 1rem;
  color: var(--secondary-text);
}

/*--------------------- HEAD*/

.head {
  font-size: clamp(0.5rem, 2vw + 0.5rem, 2rem);
  font-weight: 600;
  color: var(--main-text);
  margin: 0 0;
  padding: clamp(0.5rem, 2vw + 0.5rem, 2rem) 3rem;
  border-bottom: solid 2px rgba(236, 237, 243, 1);
}

@media all and (max-width: 768px) {
  .head {
    margin: 0 0;
  }
}
/*--------------------- TEXT INPUT*/

.sect-header {
  display: flex;
  font-size: 1rem;
  width: 100%;
  height: auto;
  margin: 0 0 0.5rem 0;
}

.sect-header span {
  color: var(--dark-red);
}

.txt-inp-item {
  margin-bottom: 1rem;
  width: 100%;
}

@media all and (max-width: 768px) {
  .txt-inp-item {
    margin-bottom: 0.7rem;
  }
}

.half-bar {
  width: 48%;
}

.txt-inp-item input {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid var(--base-grey);
  margin: 0 0 0.5rem 0;
}

@media all and (max-width: 768px) {
  .txt-inp-item input {
    margin: 0 0 0.3rem 0;
  }
}

.txt-inp-item label {
  font-size: 0.7rem;
  color: var(--secondary-text);
}

.req {
  background-color: var(--light-red);
}

.error {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0.1rem 0.3rem;
  font-size: 0.7rem;
  color: white;
  background-color: var(--dark-red);
  border-radius: 0.2rem;
  width: fit-content;
}

.error span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem 0 0;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  color: var(--dark-red);
  background-color: white;
}

.txtinp {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.txt-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
}

.contact {
  justify-content: start;
  flex-direction: column;
}

@media all and (max-width: 768px) {
  .half-bar {
    width: 100%;
  }
}

/* -------------------------- SUBMIT ----- */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  width: 9rem;
  background-color: var(--green-color);
  color: white;
  border: unset;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:active {
  transform: scale(1.05);
  filter: brightness(1.2);
}

/* input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
} */
